---
title: Portfolio
photos:
  - image: /photos/safi1.jpg
    caption: Coffee at the top of Mount Safi, Lebanon
  - image: /photos/safi2.jpg
    caption: Mount Safi, Lebanon
  - image: /photos/safi3.jpg
    caption: Mount Safi, Lebanon
  - image: /photos/safi4.jpg
    caption: Mount Safi, Lebanon
  - image: /photos/safi5.jpg
    caption: Sunset on Mount Safi, Lebanon
  - image: /photos/habboush_sunset.jpg
    caption: Sunset in my home town Habboush, Lebanon
  - image: /photos/mercedes_snow.jpg
    caption: A ride in the snow
  - image: /photos/moon.jpg
    caption: My first and only attempt to capture the moon
  - image: /photos/autumn_nottingham.jpg
    caption: Autumn in Nottingham, UK
  - image: /photos/spring_crawley.jpg
    caption: Spring in Tilgate Park, Crawley, UK
  - image: /photos/autumn_london.jpg
    caption: Autumn in London
  - image: /photos/balloch1.jpg
    caption: Shades of green and blue in Balloch, Scotland, UK
  - image: /photos/aberdeen1.jpg
    caption: Suburbs of Aberdeen, Scotland, UK
  - image: /photos/aberdeen2.jpg
    caption: Aberdeen, Scotland, UK
  - image: /photos/stirling1.jpg
    caption: Old Town Cemetery - Stirling, Scotland, UK
  - image: /photos/eibsee1.jpg
    caption: Eibsee (lake) - Garmisch-Partenkirchen, Bavaria, Germany
  - image: /photos/eibsee2.jpg
    caption: Eibsee - Garmisch-Partenkirchen, Bavaria, Germany
  - image: /photos/eibsee3.jpg
    caption: Eibsee - Garmisch-Partenkirchen, Bavaria, Germany
  - image: /photos/eibsee4.jpg
    caption: Eibsee - Garmisch-Partenkirchen, Bavaria, Germany
  - image: /photos/eibsee5.jpg
    caption: Eibsee - Garmisch-Partenkirchen, Bavaria, Germany
  - image: /photos/eibsee6.jpg
    caption: Eibsee - Garmisch-Partenkirchen, Bavaria, Germany
  - image: /photos/eibsee7.jpg
    caption: Eibsee - Garmisch-Partenkirchen, Bavaria, Germany
  - image: /photos/stortorget.jpg
    caption: Stortorget - Gamla stan, Stockholm, Sweden
  - image: /photos/gamla_stan.jpg
    caption: Gamla stan, Stockholm, Sweden
  - image: /photos/stockholm_night.jpg
    caption: Stockholm at night
  - image: /photos/stockholm1.jpg
    caption: Stockholm, Sweden
  - image: /photos/stockholm2.jpg
    caption: 1:49PM - Stockholm, Sweden
  - image: /photos/skeppsholmen_bridge.jpg
    caption: Gilded Crown Bridge - Skeppsholmsbron, Stockholm, Sweden
  - image: /photos/double_selfie.jpg
    caption: Double selfie
  - image: /photos/chasing_the_sun.jpg
    caption: Chasing the sun
  - image: /photos/iris.jpg
    caption: Iris
---

<ul class="gallery">
	{% for photo in page.photos %}
		<li style="background-image: url('{{ site.baseurl }}{{ photo.image | resize: "800x800>" }}')"><a title="{{ photo.caption }}" href="{{ site.baseurl }}{{ photo.image }}" data-id="#{{ photo.image | slugify }}" data-caption="{{ photo.caption }}"></a></li>
	{% endfor %}
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
</ul>

<div class="overlay">
	<a href="#" class="close">&#10005;</a>
	<a class="prev">&lsaquo;</a>
	<a class="next">&rsaquo;</a>
	<p class="caption"></p>
	<img>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  if (window.location.host === "app.cloudcannon.com") {
    $('.gallery').find("a").click(function(e) {
      e.preventDefault();
      return false;
    });
  } else {
    var script = document.createElement("script");
    script.src = "{{ site.baseurl }}/js/lightbox.js";
    document.body.appendChild(script);
  }
</script>