<div class="navmenu">
	<input type="checkbox" id="navicon" style="visibility:hidden;">
	<label for="navicon" class="toggle">
		<i class="navicon"></i>
		<ul class="hidden-links">
			{% for link in site.data.navigation %}
				{% assign class = "" %}

				{% if link.link == page.url %}
					{% assign class = class | append: " active" %}
				{% endif %}
				<a href="{% include relative-src.html src=link.link %}" class="{{ class }}">{{ link.name }}</a>
			{% endfor %}
		</ul>
	</label>
	<nav>
		<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>
		{% for link in site.data.navigation %}
			{% assign class = "" %}

			{% if link.link == page.url %}
				{% assign class = class | append: " active" %}
			{% endif %}
			<a href="{% include relative-src.html src=link.link %}" class="{{ class }}">{{ link.name }}</a>
		{% endfor %}
	</nav>
</div>