html {
	background: $background;
	color: $color;
	font-family: 'Inter', sans-serif;
	color: $color;
}

header {
	display: flex;
}

a {
	color: $link-color;
	text-decoration: none;
}

p {
	font-size: 1.1em;
	line-height: 1.6em;
}

nav {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: -15px;
	float: none;

	a {
		padding: 15px;
		text-decoration: none;
		color: $color;
		transition: color .2s ease;

		&.active {
			color: $accent;
		}

		&:hover {
			color: $accent;
		}
	}
}

.navmenu {
    flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: -15px;
	float: none;
}

img {
	max-width: 100%;
}

footer {
	text-align: center;
	color: #aaa;
	margin: 23px 0;
}

.toggle {
    display: none;
}

.hidden-links {
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 570px){
.toggle {
    display: inherit;
    width: 28px;
    height: 28px;
}

.navicon {
    position: relative;
    width: 28px;
    height: 4px;
    background: $accent;
    margin: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;

    &:before,
    &:after {
        background: $accent;
        content: "";
        position: absolute;
        left: 0;
        width: 28px;
        height: 4px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    &:before {
        top: (-2 * 4px);
    }

    &:after {
        bottom: (-2 * 4px);
    }
}

nav {
  display: none;
  visibility: hidden;
}

input[type=checkbox]:checked ~ * .hidden-links {
    visibility: visible;
    display: block;
    position: absolute;
    top: 64px;
    right: 37px;
    margin-top: 15px;
    padding: 5px;
    /*border: 1px solid $border-color;
    border-radius: $border-radius;*/
    background: #1D1D1D;
    box-shadow: 0 0 8px rgba(#000, 0.25);

    a {
		padding: 10px 20px;
		text-decoration: none;
		display: block;
		color: $color;
		transition: color .2s ease;
		border-bottom: 1px solid $accent;

		&.active {
			color: $accent;
		}

		&:hover {
			color: $accent;
		}

		&:last-child {
            border-bottom: none;
        }
	}

    &:before {
      content: "";
      position: absolute;
      top: -11px;
      right: 10px;
      width: 0;
      /*border-style: solid;
      border-width: 0 10px 10px;
      border-color: $border-color transparent;*/
      display: block;
      z-index: 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: -10px;
      right: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: #1D1D1D transparent;
      display: block;
      z-index: 1;
    }
}

input[type=checkbox]:checked ~ * .navicon {
  /* hide the middle line*/
  background: transparent;

  /* overlay the lines by setting both their top values to 0*/
  &:before, &:after {
    background-color: $accent;
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    top: 0;
    width: 28px;
  }

  /* rotate the lines to form the x shape*/
  &:before{
    -webkit-transform: rotate3d(0,0,1,45deg);
            transform: rotate3d(0,0,1,45deg);
  }
  &:after{
    -webkit-transform: rotate3d(0,0,1,-45deg);
            transform: rotate3d(0,0,1,-45deg);
  }
}
}