form {
	max-width: 600px;
}

input, select, textarea {
	border-radius: 6px;
	background: #fff;
	font-family: 'Inter', sans-serif;
	&:focus {
		outline: none;
		box-shadow: 0 0 2px #fff;
	}
}

input[type="submit"] {
	background: #fff;
	cursor: pointer;
	border: 1px solid #666;
	color: #333;
	text-decoration: none;
	padding: 5px 10px;
	display: inline-flex;
  align-items: flex-end;
	margin: 0;
	font-size: .8em;

	&:hover {
		background: $link-color;
	}
}

input[type="submit"] {
	margin-top: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.2em;

}

input[type="text"], input[type="email"], textarea {
	display: block;
	width: 100%;
	font-size: 1.1em;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #666;
	resize: none;
}

textarea {
	height: 150px;
}


label {
	margin: 20px 0 5px 0;
	display: block;
}

legend {
	display: none;
}

.contain {
	border: 0;
	background: 0;
	padding: 0;
	margin: 0;

	@media #{$tablet} {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.split {
			flex: 1;
			$split-space: 10px;
			margin: 0 $split-space 0 0;

			& + .split {
				margin: 0 0 0 $split-space;
			}
		}
	}
}

select {
	width: 100%;
	height: 43px;
	background: #fff;
	border-color: rgba(0,0,0,0);
	font-size: 1em;
}