body {

}

.wrap {
	padding: 0 50px;
}

header h1 a {
	text-decoration: none;
	color: $accent;
}

@media only screen and (max-width: 1080px) {
    #header h1 {
        display: none;
    }
}

.text-width {
	max-width: 100%;
	margin: 0 auto;
}

@media only screen and (min-width: 900px) {
.gallery {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	li {
		padding: 0;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		flex: 1 0 300px;
		margin: 10px;
		box-sizing: border-box;
		max-width: 450px;

		&:before {
			content: '';
			padding-top: 100%;
			display: block;
			float: left;
		}

		&.spacer {
			height: 0;
			margin-top: 0;
			margin-bottom: 0;
			&:before {
				padding: 0;
			}
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
			transition: background .2s ease;

			&:hover {
				background: rgba(255,255,255,.3);
			}
		}
	}
}
}

.gallery {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	li {
		padding: 0;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		flex: 1 0 200px;
		margin: 10px;
		box-sizing: border-box;
		max-width: 450px;

		&:before {
			content: '';
			padding-top: 100%;
			display: block;
			float: left;
		}

		&.spacer {
			height: 0;
			margin-top: 0;
			margin-bottom: 0;
			&:before {
				padding: 0;
			}
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
			transition: background .2s ease;

			&:hover {
				background: rgba(255,255,255,.3);
			}
		}
	}
}

.caption {
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,#000 100%);
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	margin: 0;
	z-index: 999;
}