// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 750px)";
$desktop: "(min-width: 900px)";

// Colors
$background: #121212;
$color: #fff;
$accent: #8cba86;
$link-color: #7bc6ff;
$offset: 30px;